* {
  font-family: "sagoe UI", Tahoma, Genefa, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  align-items: center;
  color: aliceblue;
  color: black;
  padding: 5px;
  color: black;
  margin-bottom: 20px;
  border-bottom: 1px black solid;
  transition: 1s ease-in-out;
}

.header:hover{
  padding: 20px;
}

header li {
  margin-right: 40px;
  list-style-type: none;
  display: flex;
  
}
.list {
  display: flex;
}

.gambar{
   width: 200px;
   transition: 0.3s ease-in-out;
   
}

.gambar:hover{
  width: 230px;
}

.unline{
  border-bottom: 3px blue solid;
  padding-bottom: 5px;
}

a{
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}

a:hover{
   border-bottom: 3px blue solid;
  padding-bottom: 5px;
}

.tagline{
 font-size: 42px;
}

.home{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.btn{
  background-color: rgb(33, 170, 230);
  padding: 10px 20px;
  border-radius: 20px 10px;
  border: none;
  color:white;
  font-weight: 800;

}

.img{
  display: block;
  margin: auto;
}

.footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sosial{
  margin: 10px;
  transition: tranform 0,3s;
}
.sosial:hover{
  transform: scale(1.1);
}
